
html, body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;

    color: #101b23;
}

/* font settings */
    .major-text {
        font-family: "Orbit", monospace;
        font-weight: 400;
        font-style: normal;
    }
    .text {
        font-family: "Lexend", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }


    /* MOBILE FIRST */

.desktop {
    display: none !important;
}

/* backgrounds */
    .wrapper {
        height: 100%;
        width: 100%;
        background-color: #f3f3f3;
        display: flex;
        flex-direction: column;
    }
    #BG-HOME {
        background-image: linear-gradient(to bottom right, #db5629, #23798b);
        color: #f9f9fb;
    }
    #BG-PROJECTS {
        background-image: linear-gradient(to bottom right, rgba(0,0,0,0) 18%, #23798b);
    }
    #BG-CONTACT {
        background-image: linear-gradient(to bottom right, rgba(0,0,0,0) 18%, #db5629);
    }

/* top-bar */
    nav {
        height: max-content;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .title {
        line-height: 0;
    }

    .hamburger.icon {
        /* tbc */
        background-color: rgb(249 249 251 / 76%);
        border-radius: 0.6rem;
        font-size: 3em;
        padding-bottom: 10px;
        height: 100%;
    }

/* home */
    .home-img {
        width: 80%;
        height: auto;
    }