
// theme map
$themes: ( 

  light: (
    text:       hsl(205, 37%, 10%),
    background: hsl(240, 20%, 98%),
    primary:    hsl(191, 76%, 53%),
    secondary:  hsl(15, 82%, 58%),
    accent:     hsl(258, 62%, 43%),
    sun:          none,
    moon:         inline
  ),
  dark: (
    text:       hsl(240, 23%, 94%),
    background: hsl(200, 36%, 5%),
    primary:    hsl(191, 76%, 43%),
    secondary:  hsl(15, 82%, 48%),
    accent:     hsl(258, 62%, 43%),
    sun:          inline,
    moon:         none
  )

);

// creates CSS variables from $themes
@each $theme-name, $theme-map in $themes {
    :root[data-theme="#{$theme-name}"] {
        @each $key, $value in $theme-map {
            --#{$key}: #{$value};
        }
    }
}