/* 
    Transpiled with Easy Sass - Wojciech Sura
    https://marketplace.visualstudio.com/items?itemName=spook.easysass 
*/


@import "_themes.scss"; 

html, body {
    margin: 0;
    color: var(--text);
    background: blue;

    min-height: 100vh;
    width: 100vw;
}

// font settings
    .major-text {
        font-family: "Orbit", sans-serif;
        font-weight: 400;
        font-style: normal;
    }
    .text {
        font-family: "JetBrains Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }


// MOBILE STYLES

.desktop {
    display: none !important;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

// top-bar
    nav {
        height: fit-content;
        width: 90%;
        margin: 5%;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .title {
        line-height: 0;
    }

    .hamburger {
        height: 8vh;
        width: auto;
        fill: red;
        
        &:active {
            background-color: rgba(249, 249, 251, 0.1);
            border-radius: 10px;   
        }
    }


@media only screen and (max-width: 768px) {
    html, body {
        background-color: green;
    }
    .hamburger {
        display: none !important;
    }
}



    




  

  
  