/* 
    Transpiled with Easy Sass - Wojciech Sura
    https://marketplace.visualstudio.com/items?itemName=spook.easysass 
*/

@import "_themes.scss"; 

html, body {
    margin: 0;
    color: var(--text);
    background: var(--background);

    min-height: 100vh;
    width: 100vw;
}

body.pushable > .pusher, body.pushable {
    background: inherit;
}

.ui.sidebar.inverted.vertical.menu.right.overlay.visible {
    background: var(--primary);
}

#themeSwitch {
    background-color: red;
    border-radius: 1000px;
    padding: 1rem;
}

#themeSwitch i.light-icon {
    display: var(--moon);
}
#themeSwitch i.dark-icon {
    display: var(--sun);
}



// FONTS

.orbit {
    font-family: "Orbit", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.jetbrains-mono {
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}



// MOBILE STYLES

.desktop {
    display: none !important;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

    // navbar
    nav {
        height: fit-content;
        width: 90%;
        margin: 5%;

        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .title {
        line-height: 0;
    }

    .hamburger {
        height: 8vh;
        width: auto;
    }

    svg.hamburger > rect:active {
        stroke: url(#paint0_linear_dark);
        fill: #101B23;
        stroke-opacity: 0.4;
    }




// MEDIA QUERIES
    
    // > Mobile
@media only screen and (min-width: 768px) {

    .hamburger {
        display: none !important;
    }
}



    




  

  
  