<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="U-TF8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1">

        {# CDNs #}
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.4/semantic.min.js" integrity="sha512-Y/wIVu+S+XJsDL7I+nL50kAVFLMqSdvuLqF2vMoRqiMkmvcqFjEpEgeu6Rx8tpZXKp77J8OUpMKy0m3jLYhbbw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            {# Sidebar #}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.4/components/sidebar.min.css" integrity="sha512-AaSaRLjR+hMdDZ2U9krGbzzG2IVU68gyuML4UuuZUBonMvX8x/UNnUU1DwmOwVnQWqHtHOJ1YRtXuRiDzZmKAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      
        {# Google Fonts #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Orbit&display=swap" rel="stylesheet">

        {# Local Files #}
        <script src="{{ url_for('static', filename='script.js') }}" defer></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='/style/style.min.css') }}"/>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/photos/favicon.svg') }}"/>

        {% block head %}{% endblock %}

    </head>
    <body>

        {# Mobile sidebar #}
        <div class="ui sidebar inverted vertical menu right">
            <a class="item">
                <i class="moon outline icon"></i>
            </a>
            <a class="item - major-text">
                <p>Home</p>
            </a>
            <a class="item - major-text">
                <p>Projects</p>
            </a>
            <a class="item - major-text">
                <p>Contact</p>
            </a>
        </div>

        {# Content #}
        <div class="pusher"> 
            <div class="wrapper">

                <nav>

                    <span id="theme-switch">
                        <i class="moon outline icon - light-icon"></i>
                        <i class="sun outline icon - dark-icon"></i>
                    </span>

                    {% block title %}<div></div>{% endblock %}
                    
                    {# Mobile hamburger icon #}
                    <svg width="73" height="73" viewBox="0 0 73 73" fill="none" xmlns="http://www.w3.org/2000/svg" class="hamburger">
                        <rect x="0.138428" y="0.215332" width="71.9797" height="71.9797" rx="15" fill="#F9F9FB" fill-opacity="0.15" class="ham-bg"/>
                        <rect x="12.3103" y="18.0391" width="47.6362" height="5.44412" rx="2" fill="#F9F9FB" fill-opacity="0.75"/>
                        <rect x="12.3103" y="33.4834" width="47.6362" height="5.44412" rx="2" fill="#F9F9FB" fill-opacity="0.75"/>
                        <rect x="12.3103" y="48.9272" width="47.6362" height="5.44412" rx="2" fill="#F9F9FB" fill-opacity="0.75"/>
                    </svg>

                    {# Desktop nav buttons #}
                    <div class="menu desktop">
                        <h3 class="major-text {{ nav['home'] }}">Home</h3>
                        <h3 class="major-text {{ nav['projects'] }}">Projects</h3>
                        <h3 class="major-text {{ nav['contact'] }}">Contact</h3>
                    </div>

                </nav>

                {% block content %}{% endblock %}

            </div>
        </div>
        
    </body>
</html>
