<!DOCTYPE html>
<html>
    <head>

        <meta charset="U-TF8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1"> <!-- god tag -->

        <!-- CDNs -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/semantic.min.js" integrity="sha512-gnoBksrDbaMnlE0rhhkcx3iwzvgBGz6mOEj4/Y5ZY09n55dYddx6+WYc72A55qEesV8VX2iMomteIwobeGK1BQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.3/semantic.min.css" integrity="sha512-3quBdRGJyLy79hzhDDcBzANW+mVqPctrGCfIPosHQtMKb3rKsCxfyslzwlz2wj1dT8A7UX+sEvDjaUv+WExQrA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>

        <!-- Google fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbit|Lexend"/>

        <!-- Local files -->
        <script src="{{ url_for('static', filename='script.js') }}" defer></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/light.css') }}"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='/css/nav.css') }}"/>
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/photos/favicon.jpg') }}"/>

        {% block head %}{% endblock %}

    </head>
    <body>

        <!-- sidebar for mobile -->
        <div class="ui sidebar inverted vertical menu">
            <a class="item">
                <i class="moon outline icon"></i>
            </a>
            <a class="item">
                <p>Home</p>
            </a>
            <a class="item">
                <p>Projects</p>
            </a>
            <a class="item">
                <p>Contact</p>
            </a>
        </div>

        <div class="pusher" id="BG-{% block bg %}{% endblock %}"> <!-- custom id for each page -->

            <div>
                <i class="moon outline icon desktop"></i> <!-- for desktop -->
                {% block title %}{% endblock %}
                <!-- for mobile/smaller resolutions -->
                <i class="hamburger icon"></i>
                <!-- for desktop -->
                 <div class="menu desktop">
                    <h3>Home</h3>
                    <h3>Projects</h3>
                    <h3>Contact</h3>
                 </div>
            </div>

            {% block content %}{% endblock %}

        </div>
        
    </body>
</html>
