{% extends 'base.html' %}

{% block head %}
    <title>RD Portfolio | Contact</title>
{% endblock %}

<!-- becomes '#BG-CONTACT' for 'div.pusher' i.e. 'div#BG-CONTACT.pusher' -->
{% block bg %}CONTACT{% endblock %} 

{% block title %}<h2>contact</h2>{% endblock %}

{% block content %}

    <p class="text">For educational inquiries email me <a href="mailto:reuben.dubois.000@accesscreative.ac.uk">here</a>.</p>
    <p class="text">For Other inquiries email me <a href="mailto:reubdub07@gmail.com">here</a>.</p>

    <div class="SPLITTER"></div>

    <h3>I am also on</h3>

    <div class="media-links">
        <a href="">Linkedin</a>
        <a href="">Github</a>
    </div>

{% endblock %}